*cleaned_category 
*filtered_exports 
*final_data 
*first_fetch 
*venv 
*usefull_data 
*app.py 
*insights_output.csv 
*insights_output.txt 
*gemini_demo.py 
*.env 
*link_split.py 
*gpt_model.py 
*Germany_links_0_100.json 
*i4.json 
*gemini_ai_demo.py 
*gemini-ai_cleaning.py 
*deep_seek.py  
*fetch_link.py 

